.button {
	margin-top: 28px;
}

.container {
	background-color: rgba(76, 40, 81, 1);
	grid-template-columns: repeat(3, 1fr);
	min-height: auto;
	background-image: url('../../images/bg.svg');
}

.title {
	color: white;
	grid-column: 1 / -1;
}

.form {
	grid-column: 2;
}

.input,
.textarea {
	display: block;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	padding: 10px;
	color: #371D3A;
}

.input + .input,
.textarea {
	margin-top: 43px;
}

.modal {
	margin: auto;
	background-color: white;
	padding: 50px;
}

.overlay {
	display: grid;
	z-index: 10000;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}
