.button {
	background: #1DB9A6;
	border: 2px solid currentColor;
	text-transform: uppercase;
	color: #F9F9F9;
}

.container {
	composes: sharedContainer from './shared.module.css';
	background-color: rgba(76, 40, 81, 1);
}