.galleryContainer {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 28px;
	background-image: url('../../images/bg.svg');
}

.imageView {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1 / -1;
}

.galleryItem {
	margin: 0;
}

.buttonContainer {
	margin-top: 54px;
	grid-column: 2 / span 1;
}

.title {
	grid-column: 1 / -1;
	color: #371D3A;
}