.galleryContainer {
	grid-template-columns: repeat(auto-fill, minmax(160px, 300px));
	grid-gap: 28px;
	background-image: url('../../images/bg.svg');
	justify-items: center;
	justify-content: center;
}

.galleryItem {
	margin: 0;
}

.buttonContainer {
	margin-top: 54px;
	grid-column: 1 / -1;
}
