.heroContainer {
	min-height: 100vh;
	position: relative;
	background: none;
}

.bgi {
	background: center center no-repeat;
	background-size: cover;
	position: absolute;
	inset: -10px 0 0;
	z-index: -1;
}

.logo {
	width: 400px;
	margin: auto;
}