.heroContainer {
	min-height: 100vh;
	position: relative;

}

.bgi {
	background: url('../../images/home.jpg') center center no-repeat;
	background-size: cover;
	/* filter: brightness(80%); */
	position: absolute;
	inset: -10px 0 0;
	z-index: -1;
}

.logo {
	width: 400px;
	margin: auto;
}