
.button {
	--buttonColor: #1DB9A6;
	background: var(--buttonColor);
	border: 2px solid var(--buttonColor);
	text-transform: uppercase;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 2.08px;
	color: #F9F9F9;
	padding: 17px 34px;
	width: 100%;
	text-decoration: none;
}