.attribution {
	font-size: 11px;
	font-style: italic;
	display: block;
	text-align: left;
}

.tableHeading {
	text-align: center;
	text-transform: uppercase;
}

.note {
	margin-bottom: .5em;
}

@media screen and (max-width: 660px) {
	.tableContainer {
		max-width: 100%;
		overflow-x: scroll;
	}
}
