.container {
	background-color: rgba(76, 40, 81, .3);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	text-align: center;
	padding: 62px 8.47%;
}